@charset "utf-8";
/* CSS Document */
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px #A9A414;
  border-radius: 5px;
  font-size: 17px;
  text-align: right;
  background-color: white;
  background-image: url("search-icon-android22.jpg");
  background-position: 11px 11px; 
  background-repeat: no-repeat;
  padding: 13px 25px 13px 45px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 25%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover {
  opacity: 0.7;
}
/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width:20%;
  padding: 20px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.g-container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position:relative;
  bottom: 30px;
  left: 5px;
  color: white;
  font-size: 10px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 5px;
  right: 3px;
  color: black;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}
.f-container {
  padding: 70px;
  text-align: center;
  background: black;
  color: aliceblue;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.container {
  position:relative;
  text-align:center;
  color:black;
  text-decoration:bold;
  font-size: 100px;
}
body
{
	background-color:white;
	background-attachment:fixed;
	background-repeat: no-repeat;
	color: black;
	font-weight:bold;
    background-image: url("");
	background-size: cover;
	font-size: 1.3rem;   
}


#myDIV 
{
  background-color: black;
  border: 1px solid black;
  color:aliceblue;
  animation: mymove 5s;
}
@keyframes mymove 
{
  50% {padding: 90px;}
}


.navbar {
  overflow: hidden;
  background-color: #333;
  padding:inherit;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 30px 40px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:darkgoldenrod;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:olive;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar input[type=text] {
  float: right;
  padding: 10px;
  border: none;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 17px;
}
